.pagCon {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    padding-left: 4.5rem;
}

.pagPla {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    padding-left: 4.5rem;
}

html .bg-color-primary,
html .bg-primary {
    background-color: #006633 !important;
}

html .text-color-primary {
    color: #006633 !important;
}

html .featured-boxes-full-scale>.featured-box-full-primary:nth-child(1) {
    background-color: #006633;
}

html .featured-boxes-full-scale>.featured-box-full-primary:nth-child(2) {
    background-color: #26874E;
}

html .featured-boxes-full-scale>.featured-box-full-primary:nth-child(3) {
    background-color: #4DA768;
}

html .featured-boxes-full-scale>.featured-box-full-primary:nth-child(4) {
    background-color: #73C883;
}

#header .header-nav-main.header-nav-main-text-capitalize nav>ul>li>a {
    text-transform: none;
}

div#titulo-portal {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 400;
    position: relative;
    top: 1px;
}

a {
    color: #006633;
}



footer .border-left-footer {
    border-left: 1px dotted #555;
}

#header .header-body {
    height: auto !important;
    border-bottom-color: rgba(234, 234, 234, 0.5);
    box-shadow: 0 0 3px rgba(234, 234, 234, 0.5);
}

/********/


.post-meta {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}